.ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  gap: 1rem;
  margin: 1rem auto;

}

.card {
  width: 300px;
  padding: 1rem;
  border: 1px solid gray;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  gap: 2rem;
}

.lightGray {
  background-color: lightgrey
}